<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="gp7" >

  <!-- common stuff -->
  <xacro:include filename="$(find motoman_description)/urdf/common.gazebo.xacro" />

  <!-- gp7 -->
  <xacro:include filename="$(find motoman_description)/urdf/gp7.urdf.xacro" />

  <!-- ARMada workstation -->
  <xacro:include filename="$(find uml_hri_nerve_armada_workstation)/workstation_description/workstation_model.urdf.xacro" />

  <!-- arm -->
  <xacro:motoman_gp7 prefix="" />

  <!-- workstation -->
  <xacro:workstation prefix="table_" namespace=""/>

  <link name="world" />
  
  <joint name="connect_world_and_table" type="fixed">
    <child link="table_base_link" />
    <parent link="world" />
    <origin xyz="0.0 0.0 0.41" rpy="0.0 0.0 0.0" />    
  </joint>

  <!-- needs to be like kinova where root link is an argument -->
  <joint name="connect_table_and_arm" type="fixed">
    <parent link="table_mounting_plate_link" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.03625" rpy="0.0 0.0 ${pi/2}" />  
  </joint>

</robot>
