<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="gp7" >

  <!-- common stuff -->
  <xacro:include filename="$(find motoman_gp7_support)/urdf/common.gp7.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find motoman_gp7_support)/urdf/gp7.urdf.xacro" />

  <!-- arm -->
  <xacro:gp7_robot prefix="" />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
